<settings>
    <setting propertyKey="@Properties.Theme" title="@Strings.ThemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Waves</listEntry>
            <listEntry value="1">@Strings.Sky</listEntry>
            <listEntry value="2">@Strings.Night</listEntry>
            <listEntry value="3">@Strings.Snow</listEntry>
            <listEntry value="4">@Strings.Lotus</listEntry>
            <listEntry value="5">@Strings.ChineseNewYear</listEntry>
            <listEntry value="6">@Strings.GreenTea</listEntry>
            <listEntry value="7">@Strings.Boba</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.AlignText" title="@Strings.AlignTextTitle">
        <settingConfig type="list">
            <listEntry value="2">@Strings.AlignLeft</listEntry>
            <listEntry value="1">@Strings.AlignCenter</listEntry>
            <listEntry value="0">@Strings.AlignRight</listEntry>
        </settingConfig>
    </setting>

    <!-- TODO: v1.0.4 -->
    <setting propertyKey="@Properties.OffsetX" title="@Strings.OffsetXTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.OffsetY" title="@Strings.OffsetYTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.Padding" title="@Strings.PaddingTitle">
        <settingConfig type="numeric" />
    </setting>
</settings>
